body{
	background: #262626;
}

.pricing-area{
	padding:80px 0;
}
.section-header h2{
	font-family: baloo;
	margin-bottom: 40px;
	text-transform: uppercase;
	color: #fff;
}

.single-pricing {
	 background-color: white;
	padding-bottom: 20px;
	overflow: hidden;
}

.single-pricing .deal-area{
	margin-bottom: 40px;
	position:relative;
	z-index: 1;
	color: black;
}

.single-pricing .deal-area:before{
		content:'';
		width: 0%;
		height: 0%;
		 background-color: white;
		position: absolute;
		top: -90%;
		left: -20%;
		z-index: -1;
		transform: rotate(-42deg);

}


.single-pricing .deal-area:after{
		content: '';
		width: 0%;
		height: 0%;
		 background-color: white;
		position: absolute;
		top: -76%;
		left: 15%;
		z-index: -2;
		transform: rotate(20deg);

}

.single-pricing .deal-price{
		display: inline-block;
		width: 50%;
		padding: 30px 0;
		float: left;
		font-size: 30px;
		color: #fff;
		line-height: 20px;
		position: relative;
		top: 10px;
		left: 20px;
		

}

.single-pricing .currency{
		font-size:20px;
		position: relative;
		top: -10px;
		right: -3px;
	

}



.single-pricing .title{
	display: inline-block;
		width: 50%;
		padding: 30px 0;
		margin: 0;
		font-size: 20px;
		font-weight: bold;
		color: black;
		line-height: 20px;
		text-transform: uppercase;
		position:relative;
		top: 10px;
		right: 7px;
		
}


.single-pricing .content-area {
	list-style: none;
	padding:0;
	margin: 0 0 20px 0;
	text-align: center;
	clear:both;
	font-weight: bold;
}



.single-pricing .content-area li {
	font-size:20px;
	color:#838383;
	line-height: 40px;
	text-align: center;
	font-weight: bold;
}




.single-pricing .price-btn {
	display:block;
	width:50%;
	z-index: 1;
	text-transform: uppercase;
	overflow: hidden;
	position:relative;
	transition: .5s;
	text-decoration: none;
	padding: 7px 0;
	text-align: center;
	background: linear-gradient(to right, #97d456, #0c203e);
	border-radius: 5px;
	margin: 0 auto;
	font-size:16px;
	color: #fff;
	
}


	
